<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <style type="text/css">
			.myTable { width:400px;background-color:#eee;border-collapse:collapse; }
			.myTable th { background-color:#000;color:white;width:50%; }
			.myTable td, .myTable th { padding:5px;border:1px solid #000; }
		</style>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
			<table class="myTable">
				<tr>
					<th colspan="2">&nbsp;</th>
					
				</tr>
				<tr>
					<td><label> User Name : </label></td>
					<td><input type="text" name="username"/></td>
				</tr>
				<tr>
					<td><label> Password: </label></td>
					<td><input type="password" name="password"/></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" value="Sign In"/></td>
				</tr>
			</table>
        </form>
    </body>
</html>